h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
svg {
	display: block;
}
a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:visited {
		text-decoration: none;
		outline: inherit;
	}
}
ul {
	padding-left: 0;
	list-style-type: none;
}
button {
	padding: 0;
	background-color: transparent;
	border-color: transparent;
	&:focus {
		outline: inherit;
	}
}
label {
	margin: 0;
}
input,
button,
textarea {
	font-family: inherit;
}
