@mixin font($size, $height) {
	font-size: $size;
	line-height: $height;
}

@mixin beforeCircle($size: #{$circle-huge}) {
	position: relative;
	z-index: 2;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		z-index: -1;

		width: $size;
		height: $size;

		background-color: getColor("accent");
		border-radius: 50%;
	}
}

// A mixin for transitions or opacity animation
@mixin animated($property...) {
	transition-property: $property;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
