$colors: (
	"accent": #ffa501,
	"light": #ffffff,
	"dark": #151812,

	"bg-reserved": #212121,
	"skills-scale": #e4fcea,
);
@function getColor($key) {
	@return map-get($colors, $key);
}

$circle-huge: 36px;
$circle-tiny: 15px;
