.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	z-index: 3;

	display: flex;
	align-items: center;
	gap: 15px;

	color: getColor("accent");

	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
}

.sidepanel__line {
	width: 70px;

	border: 2px solid getColor("accent");
	@extend %inner-shadow;
}

.sidepanel__social {
	display: flex;
	gap: 15px;
	@extend %inner-shadow;
	&--center {
		justify-content: center;
	}
}

.sidepanel__link {
	color: getColor("accent");

	@include animated(color);
}
.sidepanel__icon {
	fill: currentColor;
}
