.github {
	&:hover,
	&:focus {
		color: #563d7c;
	}
}
.facebook {
	&:hover,
	&:focus {
		color: #1877f2;
	}
}
.instagram {
	&:hover,
	&:focus {
		color: #e4405f;
	}
}
.linkedin-in {
	&:hover,
	&:focus {
		color: #0077b5;
	}
}
.telegram {
	&:hover,
	&:focus {
		color: #2ca5e0;
	}
}
.whatsapp {
	&:hover,
	&:focus {
		color: #25d366;
	}
}
.viber {
	&:hover,
	&:focus {
		color: #665cac;
	}
}
.discord {
	&:hover,
	&:focus {
		color: #7289da;
	}
}
