// Title section
.title {
	font-weight: 700;

	// Block title
	&--fz14 {
		font-size: 14px;
	}

	// First title section
	&--fz16 {
		font-size: 16px;
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
	}

	// Title block in section Resume
	&--fz20 {
		font-size: 20px;
	}
	&--fz36 {
		@include font(36px, 1.67);
	}

	// Site title
	&--fz48 {
		@include font(48px, 1.67);
	}
}
